.miner .board .line {
    white-space: nowrap;
}

.miner .board .square {
    background: #f6ffed;
    border: 1px solid #999;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: top;
}

.miner .board .square.closed:hover {
    background: #ffd1a4;
    content: '?'
}

.miner .board .square.bomb {
    background: #ffa08a;
}

.miner .board .square.number {
    background: #e3f3ff;
}

.miner .board .square.closed {
    background: #ddd5cf;
}

.miner .board .square {
    cursor: default;
}

.miner .board:not(.disabled) .square.closed:hover {
    cursor: pointer;
}

.miner .board:not(.disabled) .square.life:hover {
    cursor: pointer;
}

.miner .info {
    margin-bottom: 10px;
    white-space: nowrap;
}

.miner .info:hover {
    cursor: default;
}

.miner .info > div {
    display: inline-block;
    margin-right: 10px;
}

.miner .info p.desc {
    margin: 0;
    font-size: .8em;
}

.miner-title span.version {
    font-size: .5em;
    color: grey;
}

.miner-title {
    white-space: nowrap;
}
